.vscode/
node_modules/
.env*
!.env.example
build/

# Uploaded files
public/*
!public/.gitkeep
!public/socket-client-test.html


# 빌드 출력 (TypeScript 컴파일 결과)
/dist
/build
/out
/es
/lib

.prettier*

public

coverage/

.DS_Store
**/.DS_Store