# Local files
.vscode/
node_modules/
.env*
!.env.example
build/

# Uploaded files
public/*
!public/.gitkeep

# VS Code 설정
.vscode

# 빌드 출력 (TypeScript 컴파일 결과)
/dist
/build
/out
/es
/lib


#PR 업로드시 제외
/src/generated/prisma
.github/PULL_REQUEST_TEMPLATE.md
.devcontainer/devcontainer.json
/src/tests/*
